body{
    margin: 0;
    color: white;
    font-family: 'Kanit', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C11A16;
}
.logo-img{
    width: 50px;
}
/* left header */
.header-left {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.header-left h1 {
    padding-left: 20px;
}
.header-left h2 {
    padding-left: 20px;
}
/* right header */
.header-right {
    padding-right: 120px;
}
.header-right a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px 20px;
    transition: 1s;
}
.header-right a:hover{
    letter-spacing: 1px;
    text-decoration: underline;
    background-color: #c11A;
}
.skewed-header{
    position: relative;
    height: 170px;
    overflow: hidden;
}
.skewed-section{
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
    transform: skewY(-6deg);
    background-color: #C11A16;
    transform-origin: top left;
}
.skewed-header > .skewed-header-wrapper {
    position: absolute;
    padding-left: 80px;
    font-size: 2em;
}

.stadium{
    width: 80%;
    margin-top: -170px;
}
.img-container{
    display: flex;
    justify-content: center;
}

/* info sections */
.section-container{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section-left,.section-right{
    text-align: center;
    padding: 40px 50px;
    color: #fff;
    background-color: #C11A16;
    border-radius: 15px;
    width: 12%;
    display: grid;

    transition: 2s;
}

.section-left:hover, .section-right:hover{
    letter-spacing: 0.35px;
    border-radius: 25px;
}

.section-left a,.section-right a, h3{
    color: #fff;
    text-decoration: none;
}
.section-right p a {
    color: #C11A16;
}

.material-symbols-outlined{
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

.h60{
    height: 60px;
}

/* Articles CSS */
.article-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.article-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    border: solid 2px #000;
    padding: 10px 30px;
    width: 80%;
}
.article-wrapper-left h1 a{
    color: #000;
}
.article-wrapper-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-left-left{
    padding-right: 20px;
}
.article-img{
    width: 100px;
}



.iframe-section{
    display: flex;
    justify-content: center;
}
.article-container{
    padding: 20px 200px;
}
.article-container p{
    color: #000;
    letter-spacing: 0.5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-family: 'Signika Negative', sans-serif;
    line-height: 1.4em;
}
.about-text-container{
    padding: 20px 200px;
}
.about-text-container p{
    color: #fff;
    letter-spacing: 2.5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    text-align: justify;
    margin-top: -550px;
}

.article-text-header{
    text-decoration: underline;
}


.stadiums{
    width: 80%;
    margin-top: -170px;
}

/* footer CSS */
footer{
    background-color: #C11A16;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}