body{
    /* margin: 0; */
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    padding-left: 20px;
}
.header-right {
    padding-right: 20px;
}